* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





    body {
        width: 100vw;
        height: 100vh;
        margin-right: 3rem;
        overflow: hidden;
    }

    header {
        height: 30%;
        background-image: url(./images/bg-mobile-light.jpg);
        display: flex;
        background-size: cover;
        color: white;
        align-items: center;
        justify-content: space-around;
    }

    h1 {
        font-size: 3.5rem;
        letter-spacing: 0.7ch;
        margin-top: 7rem;
        margin-bottom: 3rem;
    }

    .moon-btn {
        background-color: transparent;
        border: none;
        margin-top: 4rem;
        cursor: pointer;
    }

    .x-btn {
        cursor: pointer;
    }


    .main-container {
        background-color: F9F9F9;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    }

    .tasks-section {
        height: 70vh;
        border: 1px solid black;
        border-radius: 6px;
        padding: 2rem;
        row-gap: 1rem;
        margin-top: -2.8rem;
        overflow-y: auto;
        background-color: transparent;
    }

    .tasks-section::-webkit-scrollbar {
        width: 12px; /* Set the width of the scrollbar */
    }
    
    .tasks-section::-webkit-scrollbar-thumb {
        background-color: rgba(86, 50, 95, 0.2); /* Set the color of the scrollbar thumb */
        border-radius: 10px; /* Set the border radius of the scrollbar thumb */
    }
    
    .tasks-section::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4); /* Set the color of the scrollbar thumb on hover */
    }

    .scrollable {
        overflow-y: auto;
    }

    .input-field {
        height: 2.5rem;
        border: none;
    }

    .add-btn {
        padding: 1rem;
        background-color: rgb(215, 184, 239);
        border-radius: 5px;
        border: none;
        height:2rem;
        width: 5rem;
        cursor: pointer;
        margin-left: 1rem;
    }

    .add-btn:hover {
        background-color: rgb(229, 89, 229);
    }

    .task-container {
        display: flex;
        justify-content: center;
    }

    .tasks {
        margin-top: 3rem;
        display: flex;
       flex-direction: column;
       
        gap: 0.2rem;
       margin-bottom: 3rem;
       list-style:circle;
       font-size: 1.5rem;
       letter-spacing: 0.4ch;
    }

    .input-and-add-btn {
        display: flex;
        margin-bottom: 2rem;
    }

    .input-li-el {
        list-style: none;
    }

    .input-field {
        word-wrap:break-word;
    }

    .task {
        height: 1.5rem;
    }

    .x-btn {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        margin-left: 1rem;

    }

    .filter-by-status {
        margin-top: 2rem;
    }
  
    .drag-drop {
        margin-top: 2rem;
    }

    footer {
        height: 5%;
        margin-top: 2rem;
        background-color: rgb(248, 224, 248);
    }
    .attribution { 
        font-size: 11px; text-align: center; 
    }
    
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }