* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }



    body {
        width: 100vw;
        height: 100vh;
        margin-right: 3rem;
        overflow: hidden;
    }

    header {
        height: 30%;
        background-image: url(./images/bg-mobile-light.jpg);
        display: flex;
        background-size: cover;
        color: white;
        align-items: center;
        justify-content: space-around;
    }

    h1 {
        font-size: 3.5rem;
        letter-spacing: 0.7ch;
        margin-top: 7rem;
        margin-bottom: 3rem;
    }

    .moon-btn {
        background-color: transparent;
        border: none;
        margin-top: 4rem;
        cursor: pointer;
    }

    .x-btn {
        cursor: pointer;
    }


    .main-container {
        background-color: F9F9F9;

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    }

    .tasks-section {
        border: 1px solid black;
        border-radius: 6px;
        padding: 2rem;
        row-gap: 1rem;
        margin-top: -2.8rem;
        overflow-y: hidden;
        background-color: transparent;
    }

    .input-field {
        height: 2.5rem;
        border: none;
    }

    .add-btn {
        padding: 1rem;
        background-color: rgb(215, 184, 239);
        border-radius: 5px;
        border: none;
        height:3rem;
        width: 5rem;
        cursor: pointer;
    }

    .add-btn:hover {
        background-color: rgb(229, 89, 229);
    }

    .tasks {
        margin-top: 3rem;
        display: grid;
        grid-template-areas: "task btn"
                              "task btn"
                              "task btn";
        gap: 1rem;
       margin-bottom: 3rem;
       list-style:circle;
       font-size: 1.5rem;
       letter-spacing: 0.4ch;
    }

    .input-li-el {
        list-style: none;
    }
    .input-field {
        word-wrap:break-word;
    }

    .task-container {
        display: block;
    }

    .task {
        display: inline-block;
        border: 1px solid blue;
        height: 1.5rem;
    }


    .x-btn {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 2rem;

    }

    .filter-by-status {
        margin-top: 2rem;
    }
  
    .drag-drop {
        margin-top: 2rem;
    }

    footer {
        height: 5%;
        margin-top: 2rem;
        background-color: rgb(248, 224, 248);
    }